/* mobile */

@media only screen and (max-width: 600px) {
    html, body {
        overflow-x: hidden;
    }

    body{
        position: relative;
        font-family: Helvetica, Verdana, Arial, sans-serif;
        font-size: small;
    }

    #everything{
        width: 100%;
    }

    /* heading with logo */

    header{
        background-color: #ffffff;
        border: 1.5px solid #4d4d4d;
    }

    #heading-text{
        width: 70%;
        text-align: left;
    }

    #heading-text h1{
        font-family: 'Mouse Memoirs', sans-serif;
        font-size: 3em;
        color: #4d4d4d;
    }

    #heading-image{
        width: 30%;
        height: auto;
        float: right;
        text-align: center;
    }

    /* horizontal navigation */

    nav{
        clear: right;
        padding-top: 2.5px;
        padding-bottom: 2.5px;
        background-color: #ffffff;
        border-left: 1.5px solid #4d4d4d;
        border-bottom: 1.5px solid #4d4d4d;
        border-right: 1.5px solid #4d4d4d;
    }

    #navigation{
        text-align: center;
    }

    #navigation li{
        display: inline;
    }

    #navigation a{
        font-family: 'Mouse Memoirs', sans-serif;
        font-size: 1.7em;
        color: #4d4d4d;
        text-decoration: none;
    }

    #navigation a:hover{
        color: #009999;
    }

    /* main body subject to change */

    main{
        padding-top: 25px;
    }

    main p{
        font-family: 'Oswald', sans-serif;
        font-size: 1.5em;
    }

    main a{
        font-family: 'Oswald', sans-serif;
        color: #000000;
    }

    main a:hover{
        color: #009999;
    }

    /* index */

    #opening-photo img{
        width: 100%;
        height: auto;
    }

    #index-body{
        padding-top: 25px;
        padding-bottom: 100px;
    }

    #index-body h1{
        text-align: center;
        font-family: 'Mouse Memoirs', sans-serif;
        font-size: 3em;
        color: #4d4d4d;
    }

    #index-body h2{
        text-align: center;
        font-family: 'Mouse Memoirs', sans-serif;
        font-size: 3em;
        color: #4d4d4d;
    }

    .padding{
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #index-about-section{
        padding-top: 30px;
        padding-bottom: 30px;
    }

    #index-about-section img{
        width: 70%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 15px;
    }

    #index-about-section ul{
        list-style-type: none;
    }

    #index-about-section li{
        display: block;
        margin-left: 0;
        padding-left: 0px;
        padding-bottom: 15px;
    }

    #index-about-section a:hover{
        opacity: 0.7;
    }

    /* about */

    /* treats and ancestry */

    .top-bottom-photo img{
        width: 100%;
        height: auto;
    }

    .top-bottom-photo a:hover{
        opacity: 0.7;
    }

    .middle-photo img{
        width: 100%;
        height: auto;
    }

    .middle-photo a:hover{
        opacity: 0.7;
    }

    .top-bottom-text{
        padding-top: 50px;
    }

    .middle-text{
        padding-top: 50px;
    }

    #section-1 ul{
        list-style-image: url(./css-images/bone-icon.png);
    }

    #section-2 ul{
        list-style-image: url(./css-images/bone-icon.png);
    }

    #section-3 ul{
        list-style-image: url(./css-images/bone-icon.png);
    }

    .recipe li{
        font-family: 'Oswald', sans-serif;
        font-size: 1.5em;
        padding-bottom: 5px;
    }

    .top-bottom-photo p{
        font-size: .9em;
        text-align: left;
    }

    .middle-photo p{
        font-size: .9em;
        text-align: left;
    }

    #section-1{
        padding-top: 50px;
    }

    /* ancestry */

    .spacer{
        padding-top: 10px;
        padding-bottom: 10px;
    }

    /* contact */

    #contact-form{
        text-align: center;
    }

    table {
        width:95%;
    }

    input[type=text], textarea {
        width:75%;
    }

    #contact-form td{
        font-family: 'Oswald', sans-serif;
        font-size: 1.5em;
        padding: 5px;
    }

    #contact-form textarea{
        font-family: 'Oswald', sans-serif;
        font-size: 1.1em;
    }

    #contact-form #submit{
        font-family: 'Oswald', sans-serif;
        font-size: 1em;
        background-color: #009999;
        color: #ffffff;
    }

    #contact-form #reset{
        font-family: 'Oswald', sans-serif;
        font-size: 1em;
        background-color: #009999;
        color: #ffffff;
    }

    #contact-bottom-text{
        text-align: center;
    }

    #contact-bottom-text h2{
        font-size: 2.5em;
    }

    #contact-bottom-image{
        text-align: center;
    }

    #contact-bottom-image a:hover{
        opacity: 0.7;
    }

    /* footer */

    footer{
        background-color: #4d4d4d;
        color: #ffffff;
        padding-top: 25px;
        padding-bottom: 50px;

    }

    footer p{
        font-family: 'Oswald', sans-serif;
        font-size: 1.4em;
    }

    footer a{
        color: #ffffff;
        font-family: 'Oswald', sans-serif;
        text-decoration: none;
    }

    footer a:hover{
        color: #009999;
    }

    #logo-footer{
        width: 33%;
        float: left;
        text-align: right;
        border: 2px solid #4d4d4d;
    }

    #logo-footer-text p{
        font-family: 'Mouse Memoirs', sans-serif;
        font-size: 2em;
    }

    #contact-us{
        width: 33%;
        float: right;
        text-align: left;
        border: 2px solid #4d4d4d;
    }

    #page-links{
        width: 33%;
        margin-left: 33.4%;
        text-align: center;
        border: 2px solid #4d4d4d;
    }

    #page-links a{
        display: block;
        font-size: .8em;
    }

    #contact-email-logo a:hover{
        opacity: 0.7;
    }

    #copyright hr{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        opacity: 0.5;
    }

    #copyright{
        clear: both;
        text-align: center;
        padding-top: 15px;
    }

}