/* tablet */

@media only screen and (min-width: 769px) and (max-width: 992px) {
    html, body {
        overflow-x: hidden;
    }

    body{
        position: relative;
        font-family: Helvetica, Verdana, Arial, sans-serif;
        font-size: small;
    }

    #everything{
        width: 100%;
    }

    /* heading with logo */

    header{
        background-color: #ffffff;
        border: 1.5px solid #4d4d4d;
    }

    #heading-text{
        width: 50%;
        padding-top: 30px;
        padding-bottom: 20px;
        text-align: center;
    }

    #heading-text h1{
        font-family: 'Mouse Memoirs', sans-serif;
        font-size: 4em;
        color: #4d4d4d;
    }

    #heading-image{
        width: 50%;
        margin-left: 50%;
        float: right;
        text-align: center;
    }

    #heading-image img{
        width: 60%;
        height: auto;
    }

    /* horizontal navigation */

    #mobile-nav{
        clear: right;
        padding-top: 2.5px;
        padding-bottom: 2.5px;
        background-color: #ffffff;
        border-left: 1.5px solid #4d4d4d;
        border-bottom: 1.5px solid #4d4d4d;
        border-right: 1.5px solid #4d4d4d;
    }

    .mobile-nav-icon{
        width: 40%;
        float: right;
        text-align: right;
        padding-top: 15px;
        padding-right: 20px;
    }

    .dropbtn{
        background-color: #ffffff;
        color: #4d4d4d;
        padding: 10px;
        font-family: 'Mouse Memoirs', sans-serif;
        font-size: 2em;
        border: 1.5px solid #4d4d4d;
        cursor: pointer;
    }
      
    .dropdown{
        width: 50%;
        position: relative;
        display: inline-block;
        padding-left: 10px;
    }
      
    .dropdown-content{
        display: none;
        position: absolute;
        background-color: #ffffff;
        border: 1.5px solid #4d4d4d;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
      
    .dropdown-content a{
        color: #4d4d4d;
        font-family: 'Mouse Memoirs', sans-serif;
        font-size: 1.8em;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
      
    .dropdown-content a:hover{
        background-color: #4d4d4d;
        color: #009999;
    }
      
    .dropdown:hover .dropdown-content{
        display: block;
    }
      
    .dropdown:hover .dropbtn{
        background-color: #009999;
    }

    #desktop{
        display: none;
    }

    /* main body subject to change */

    main{
        clear: both;
        padding-top: 10px;
    }

    main p{
        font-family: 'Oswald', sans-serif;
        font-size: 1.5em;
    }

    main a{
        font-family: 'Oswald', sans-serif;
        color: #000000;
    }

    main a:hover{
        color: #009999;
    }

    /* index */

    #opening-photo img{
        width: 100%;
        height: auto;
    }

    #index-body{
        padding-top: 25px;
        padding-bottom: 25px;
    }

    #index-body h1{
        text-align: center;
        font-family: 'Mouse Memoirs', sans-serif;
        font-size: 3em;
        color: #4d4d4d;
    }

    #index-body h2{
        text-align: center;
        font-family: 'Mouse Memoirs', sans-serif;
        font-size: 3em;
        color: #4d4d4d;
    }

    .padding{
        padding: 10px;
    }

    #index-about-section{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .image-1 img{
        width: 100%;
        height: auto;
        padding-bottom: 50px;
    }

    .image-2 img{
        width: 100%;
        height: auto;
        padding-bottom: 50px;
    }

    .image-3 img{
        width: 100%;
        height: auto;
        padding-bottom: 40px;
    }

    .image-4 img{
        width: 100%;
        height: auto;
        padding-bottom: 50px;
    }

    #index-about-section a:hover{
        opacity: 0.7;
    }

    /* about */

    #about-bottom{
        clear: both;
        padding-bottom: 25px;
    }

    .body{
        padding-left: 10px;
        padding-right: 10px;
    }

    /* treats and ancestry */

    #section-1{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .top-bottom-photo img{
        width: 100%;
        height: auto;
    }
    
    .middle-photo img{
        width: 100%;
        height: auto;
    }

    #section-2{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    
    #section-3{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .top-bottom-photo a:hover{
        opacity: 0.7;
    }

    .middle-photo a:hover{
        opacity: 0.7;
    }

    .top-bottom-text{
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .middle-text{
        padding-top: 25px;
        padding-bottom: 25px;
    }

    #section-1 ul{
        list-style-image: url(./css-images/bone-icon.png);
    }

    #section-2 ul{
        list-style-image: url(./css-images/bone-icon.png);
    }

    #section-3 ul{
        list-style-image: url(./css-images/bone-icon.png);
    }

    .recipe li{
        font-family: 'Oswald', sans-serif;
        font-size: 1.5em;
        padding-bottom: 5px;
    }

    .top-bottom-photo p{
        font-size: .9em;
        text-align: left;
    }

    .middle-photo p{
        font-size: .9em;
        text-align: left;
    }

    #section-1{
        padding-top: 25px;
    }

    /* ancestry */

    .spacer{
        clear: both;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    /* contact */

    table {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    input[type=text], textarea {
        width: 95%;
    }

    #contact-form td{
        font-family: 'Oswald', sans-serif;
        font-size: 1.5em;
        padding: 5px;
    }

    #contact-form textarea{
        font-family: 'Oswald', sans-serif;
        font-size: 1.1em;
    }

    #contact-form #submit{
        font-family: 'Oswald', sans-serif;
        font-size: 1em;
        background-color: #009999;
        color: #ffffff;
    }

    #contact-form #reset{
        font-family: 'Oswald', sans-serif;
        font-size: 1em;
        background-color: #009999;
        color: #ffffff;
    }

    #contact-bottom-text{
        width: 60%;
        float: left;
    }

    #contact-bottom-text h2{
        text-align: right;
        font-size: 2em;
    }

    #contact-bottom-image{
        width: 40%;
        margin-left: 60%;
        padding-left: 30px;
    }

    #contact-bottom-image a:hover{
        opacity: 0.7;
    }

    /* footer */

    footer{
        background-color: #4d4d4d;
        color: #ffffff;
        padding-top: 10px;
        padding-bottom: 25px;

    }

    footer p{
        font-family: 'Oswald', sans-serif;
        font-size: 1.4em;
    }

    footer a{
        color: #ffffff;
        font-family: 'Oswald', sans-serif;
        text-decoration: none;
    }

    footer a:hover{
        color: #009999;
    }

    #logo-footer{
        width: 50%;
        float: left;
    }

    #logo-footer-text{
        width: 50%;
        float: left;
        text-align: right;
        padding-right: 10px;
    }

    #logo-footer-logo{
        width: 50%;
        margin-left: 50%;
        text-align: left;
        padding-top: 10px;
        padding-left: 10px;
    }

    #logo-footer-text p{
        font-family: 'Mouse Memoirs', sans-serif;
        font-size: 1.8em;
    }

    #contact-us{
        width: 50%;
        margin-left: 50%;
        padding-top: 5px;
    }

    #contact-text{
        width: 50%;
        float: left;
        text-align: right;
        padding-right: 10px;
    }

    #contact-email-logo{
        width: 50%;
        margin-left: 50%;
        text-align: left;
        padding-top: 10px;
        padding-left: 10px;
    }

    #page-links{
        display: none;
    }

    #contact-email-logo a:hover{
        opacity: 0.7;
    }

    #copyright hr{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        opacity: 0.5;
    }

    #copyright{
        clear: both;
        text-align: center;
        padding-top: 10px;
    }

}